[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alvaro/Desktop/AP_T500XXU3BUH3_CL21871393_QB42525697_REV00_user_low_ship_MULTI_CERT_meta_RKEY_OS11.tar.md5]
row=4
col=0

[/home/alvaro/Desktop/scripting]
row=7
col=0

[/home/alvaro/Desktop/IDA Freeware 7.7.desktop]
row=6
col=0

[webdav]
row=3
col=0

[7A6CFE136CFDCA41]
row=5
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/alvaro]
row=1
col=0

