[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/alvaro/Desktop/AP_T500XXU3BUH3_CL21871393_QB42525697_REV00_user_low_ship_MULTI_CERT_meta_RKEY_OS11.tar.md5]
row=10
col=0

[webdav]
row=14
col=0

[Trash]
row=13
col=0

[/]
row=12
col=0

[/home/alvaro]
row=11
col=0

